<!---Filtering Controls-->
  <div class="uk-grid-small uk-grid-divider uk-child-width-auto uk-flex uk-flex-center" uk-grid>
    <div>
        <ul class="uk-subnav uk-subnav-pill" uk-margin>
            <li class="uk-active" uk-filter-control><a href="#">Clear all filters</a></li>
        </ul>
    </div>
    <div>
        <div class="uk-subnav">
          {% for category in categories %}
            <button uk-filter-control="filter: [data-{{ category.option }}='{{ category.option }}']; group: data-{{ category.option }}" uk-toggle="target: .filter-control-{{ category.option }}" class="filter-control-{{ category.option }} uk-button" uk-tooltip="{{ category.tooltip }}">{{ category.verbose_name }}</button>
            <button uk-filter-control="filter: ; group: data-{{ category.option }}" uk-toggle="target: .filter-control-{{ category.option }}" class="filter-control-{{ category.option }} uk-button uk-button-primary" uk-tooltip="{{ category.tooltip }}" hidden>{{ category.verbose_name }}</button>
          {% endfor %}
        </div>
        <div class="uk-subnav uk-subnav-pill" uk-margin>
          <li uk-filter-control="filter: [data-price='0']; group: data-price"><a href="#">Free or Free Tier</a></li>
          <li uk-filter-control="filter: [data-price='$']; group: data-price"><a href="#">$</a></li>
          <li uk-filter-control="filter: [data-price='$$']; group: data-price"><a href="#">$$</a></li>
          <li uk-filter-control="filter: [data-price='$$$']; group: data-price"><a href="#">$$$</a></li>
        </div>
        <div class="uk-subnav uk-subnav-pill" uk-margin>
          <li uk-filter-control="filter: [data-ease='simple']; group: data-ease"><a href="#">Simple</a></li>
          <li uk-filter-control="filter: [data-ease='moderate']; group: data-ease"><a href="#">Moderate</a></li>
          <li uk-filter-control="filter: [data-ease='advanced']; group: data-ease"><a href="#">Advanced</a></li>
        </div>
    </div>
  </div>