{% load static %}

<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>My test page</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{% static "filtertools/css/uikit.min.css" %}" />
    <script src="{% static "filtertools/js/uikit.min.js" %}"></script>
    <script src="{% static "filtertools/js/uikit-icons.min.js" %}"></script>
  </head>
  <body>
    <h1 class="uk-heading-line uk-text-center uk-heading-medium uk-padding"><span style="font-family: Roboto,Arial,sans-serif;">UF Instructional Tools</span></h1>
    <div class="uk-container" uk-filter="target: .js-filter">
      <!---Filtering Controls-->
      <div class="uk-grid-small uk-grid-divider uk-child-width-auto uk-flex uk-flex-center" uk-grid>
        <div>
            <ul class="uk-subnav uk-subnav-pill" uk-margin>
                <li class="uk-active" uk-filter-control><a href="#">Clear all filters</a></li>
            </ul>
        </div>
        <div>
            <div class="uk-subnav">
              {% for category in categories %}
                <button uk-filter-control="filter: [data-{{ category.option }}='{{ category.option }}']; group: data-{{ category.option }}" uk-toggle="target: .filter-control-{{ category.option }}" class="filter-control-{{ category.option }} uk-button" uk-tooltip="{{ category.tooltip }}">{{ category.verbose_name }}</button>
                <button uk-filter-control="filter: ; group: data-{{ category.option }}" uk-toggle="target: .filter-control-{{ category.option }}" class="filter-control-{{ category.option }} uk-button uk-button-primary" uk-tooltip="{{ category.tooltip }}" hidden>{{ category.verbose_name }}</button>
              {% endfor %}
            </div>
            <div class="uk-subnav uk-subnav-pill" uk-margin>
              <li uk-filter-control="filter: [data-price='0']; group: data-price"><a href="#">Free or Free Tier</a></li>
              <li uk-filter-control="filter: [data-price='$']; group: data-price"><a href="#">$</a></li>
              <li uk-filter-control="filter: [data-price='$$']; group: data-price"><a href="#">$$</a></li>
              <li uk-filter-control="filter: [data-price='$$$']; group: data-price"><a href="#">$$$</a></li>
            </div>
            <div class="uk-subnav uk-subnav-pill" uk-margin>
              <li uk-filter-control="filter: [data-ease='simple']; group: data-ease"><a href="#">Simple</a></li>
              <li uk-filter-control="filter: [data-ease='moderate']; group: data-ease"><a href="#">Moderate</a></li>
              <li uk-filter-control="filter: [data-ease='advanced']; group: data-ease"><a href="#">Advanced</a></li>
            </div>
        </div>
      </div>

      <!---Tool Cards Grid-->
      <ul class="js-filter uk-child-width-1-2 uk-child-width-1-3@m uk-text-center" uk-grid="masonry: true">
        {% for tool in tool_list %}
          <li {% for category in tool.categories.all %} data-{{ category.option|lower }}="{{ category.option|lower }}" {% endfor %} data-price='{{ tool.price }}' data-ease='{{ tool.ease_of_use|lower }}'>

            <div class="uk-card uk-card-default uk-card-hover">
               <!--Card Header-->
              <div class="uk-card-header">
                <img src="{% static "filtertools/images/" %}{{ tool.logo }}" alt="{{ tool.title }}">
              </div>

              <!---Card Body-->
              <div class="uk-card-body">
                <p>You might use {{ tool.title }} if...</p>
                <p>{{ tool.use_case }}</p>
                <span>{% if tool.categories.all|length <= 1 %}Category: {% else %} Categories: {% endif %}</span>
                  {% for category in tool.categories.all %}
                    <span class="uk-badge">{{ category.option }}</span>
                  {% empty %}
                    <span class="uk-badge">Uncategorized</span>
                  {% endfor %}
              </div>

              <!--Card Footer-->
              <div class="uk-card-footer">
                <button class="uk-button uk-button-default uk-margin-small-right" type="button" uk-toggle="target: #modal-{{ tool.slug }}">More Info</button>
              </div>
            </div>
          </li>

          <!--Tool Modal-->
          <div id="modal-{{ tool.slug }}" uk-modal >
            <div class="uk-modal-dialog uk-modal-body">
              <h2 class="uk-modal-title">{{ tool.title }}</h2>
              <p>{{ tool.description }}</p>
              <p class="uk-text-lead">Pricing Details</p>
              <p>Placeholder for pricing</p>
              <p class="uk-text-lead">Links</p>
              <ul>
                <li><a href="#">Website</a></li>
                <li><a href="#">Tool Page</a></li>
                <li><a href="#">Support Link</a></li>
              </ul>
              <p class="uk-text-lead">Screenshots</p>
              <!--Screenshots-->
              <div class="uk-position-relative uk-visible-toggle uk-light" tabindex="-1" uk-slider>
                <ul class="uk-slider-items uk-grid">
                  {% for screenshot in tool.screenshot_set.all %}
                    <li class="uk-width-3-4">
                      <div class="uk-panel" uk-lightbox>
                          <a href="{{ screenshot.image.url }}"><img src="{{ screenshot.image.url }}" alt=""></a>
                          <div class="uk-position-center uk-panel"></div>
                      </div>
                  </li>
                  {% endfor %}
              </ul>
              <a class="uk-position-center-left uk-position-small uk-hidden-hover" href="#" uk-slidenav-previous uk-slider-item="previous"></a>
              <a class="uk-position-center-right uk-position-small uk-hidden-hover" href="#" uk-slidenav-next uk-slider-item="next"></a>
              </div>
              <p class="uk-text-right">
                  <button class="uk-button uk-button-default uk-modal-close" type="button">Close</button>
              </p>
            </div>
          </div>
          
        {% endfor %}
      </ul>

    </div>
  </body>
</html>